.nav__container{
  width:100%;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.nav__content-link > a{
  color:var(--sci-text-dark);
  font-size: 18px;
}