.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__items {
  background-color: var(--sci-light-blue);
  padding: 60px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: start;
  gap: 30px;
}

.footer__items > div > h4 {
  font-size: 18px;
  text-transform: capitalize;
}

.footer__link {
  font-size: 16px !important;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--sci-text-gray);
}

.footer__icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
