.card__container{
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.card__item{
  border:1px solid black;
  display: flex;
  align-items: center;
  justify-content: end;
}
.card__item>div{
  width:400px;
  height:250px;
  overflow: hidden;
}
.card__item>div>img{
  width:400px;
  height:250px;
  object-fit: cover;
  transition: all 0.3s;
}

.card__item>div>img:hover{
  transform: scale(1.1);
}