/* Card.css */

/* Estilos para el contenedor principal */
.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: space-between; /* Distribuye las tarjetas de manera uniforme */
  padding: 10px;
}

/* Estilos para cada tarjeta */
.card__item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 1/2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

/* Estilos para la imagen dentro de cada tarjeta */
.card__content-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Estilos para el contenido de texto dentro de cada tarjeta */
.card__content {
  padding: 15px;
}

/* Estilos para el encabezado y los textos */
.card__content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card__content p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.card__content button {
  margin-top: 10px;
}

.card__content a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 8px 12px;
  border-radius: 4px;
}

.card__content span {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #777;
}

/* Media Query para pantallas pequeñas (max-width: 500px) */
@media (max-width: 500px) {
  .card__item {
    width: 100%; /* Cada tarjeta ocupará el 100% de la pantalla */
  }
}
