@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  /* BACKGROUND COLOR */
  --bg-dark: #222222;
  --bg-white: #ffffff;


  /*FONT*/
  --font-main: 'Fira Sans', sans-serif;

  /*COLOR TEXT*/
  --text-primary: #222222;

  /*SPACING AND ROUNDED*/
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 48px;

  /*FONT SIZE*/
  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 22px;
  --font-size-xl: 28px;
}